<ion-header>
<ion-navbar></ion-navbar>
</ion-header>
  <div id="about">
  <ion-button (click)="dismiss()" class="xout" fill="clear"><ion-icon name="close-outline"></ion-icon></ion-button>
  <div class="text">
    THE INTERACTIVE MANUAL OF ANESTHESIOLOGY
    <div class="title">
      ANESTHESIOLOGIST TOOLKIT
    </div>
    <div class="apptitle">
      .01 | DIFFICULT AIRWAY ALGORITHM
    </div>
    <div class="info">
      The Interactive Manual of Anesthesiology/ Anesthesiologist Toolkit is a collection of interactive apps to supplement, support and improve delivery of perioperative care in real time. 'Static' cognitive aids and checklists are a thing of the past. Interactive decision making tools and analytics are the future. Doctors should embrace technology -- their patients already have.

      <p>Apps are planned, designed and coded by anesthesiologist Stesha Doku, MD.


    </div>
    <img src="./assets/blade.png" />
    <div class="byme"><a href="http://www.steshadoku.com" target="_blank">BY STESHA DOKU, MD >></a></div>
  </div>
</div>
